body {
    font-family: Arial, sans-serif;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/013/445/888/small/hacker-data-security-technology-blue-background-data-secure-theft-crime-hack-digital-tech-abstract-privacy-hi-tech-binary-code-virus-attack-data-internet-network-connection-illustration-vector.jpg");
    display: flex;
    backdrop-filter: inherit;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    
}

h1 {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #2a5298;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1e3c72;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}